@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Open+Sans:ital,wght@1,300&family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    color: #0a0418
}

h2{
    font-family: 'Open Sans', sans-serif;
    background-color:#e5e4e6;
    color: #0a0418;
}